# EditorConfig helps maintain consistent coding styles for multiple developers
# working on the same project across various editors and IDEs.
# editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[*.{md,markdown}]
trim_trailing_whitespace = false

[*.{yml,yaml}]
indent_size = 2

[*.{json}]
indent_size = 2

[*.{html,liquid}]
indent_size = 2

[*.{scss,sass,css}]
indent_size = 2

[*.rb]
indent_size = 2
